<div class="product-pricer__item">
	<div class="product-pricer__item_price">
		<h4 class="product-pricer__item_price_text">
			{{ price }}
		</h4>
	</div>
	<div class="product-pricer__item_size">
		{{ items }}
	</div>
	<div class="product-pricer__item_image">
		<div class="text">
			{{ currency }}
		</div>
	</div>
</div>
